body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background: $gradient-primary no-repeat;
    color: #333;
    font-family: var(--ff-body);

    @include respond(phone) {
        font-size: 2rem;
    }
}

a {
    &,
    &:link,
    &:visited {
        text-decoration: none;
    }
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
    line-height: 1.2;
}

// Section
section {
    padding: 2.5rem 2.5rem 5.5rem;
}

.section {
    &-heading {
        font-size: 4.5rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-align: center;
        padding: 3rem 0 1.5rem;
        text-transform: uppercase;

        @include respond(phone) {
            font-size: 6rem;
        }
    }

    &-span {
        color: var(--clr-primary);
        font-weight: 600;
    }

    &--gallery {
        font-weight: 700;
        letter-spacing: 2.4px;
        margin: 0 auto;
        background: linear-gradient(
            to right,
            var(--clr-secondary-light) 20%,
            var(--clr-accent-dark)
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        @include respond(phone) {
            background: linear-gradient(
                to right,
                var(--clr-secondary-light) 35%,
                var(--clr-accent-dark)
            );
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }
}
