.container {
    max-width: var(--website-width);
    margin: 0 auto;
    background-color: var(--clr-grey-light-1);
    overflow: auto;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 1.75rem 2.5rem;
    border-radius: 10rem;
    text-align: center;
    letter-spacing: 1.1px;
    outline: none;
    font-size: 2.25rem;
    margin: 3.5rem auto 0;
    transition: transform 0.3s ease;
    backface-visibility: hidden;

    &:hover {
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(1px);
    }

    @include respond(phone) {
        padding: 2.5rem 3.25rem;
    }

    &--gallery {
        display: block;
        margin: 4.2rem auto 0;
        background: var(--clr-secondary-light);
        border: 1px solid var(--clr-primary);
        color: #fff;
        box-shadow: 4px 4px 10px 6px var(--clr-grey-light-4);

        // visibility and opacity manipulated in animations
        visibility: hidden;

        &:hover {
            box-shadow: 6px 6px 10px 6px var(--clr-grey-light-4);
        }

        &:active {
            box-shadow: 2px 2px 5px 3px var(--clr-grey-light-4);
        }

        &-link {
            color: inherit;
        }
    }

    &--link {
        display: inline-block;
        color: var(--clr-accent);
        text-align: center;
        padding-bottom: 0.75rem;
        width: 3.5rem;
        margin-left: 3.5rem;
        text-transform: capitalize;
        position: relative;

        @include respond(phone) {
            margin-left: 1.5rem;
        }

        &,
        &:link,
        &:visited {
            letter-spacing: 3px;
            text-decoration: none;
            display: inline-block;
            position: relative;
            transition: 0.3s linear;
            width: 3.5rem;

            &::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 700;
                font-size: 120%;
                height: 100%;
                display: block;

                content: "\f054";
                box-sizing: inherit;
                position: absolute;
                left: -2%;
                transform: translateY(-6%);
            }

            &:active {
                color: inherit;
                background-color: inherit;
            }
        }
    }

    &--cta {
        display: block;
        color: #fff;
        background: transparent;
        border: 1px solid var(--clr-primary);
        margin: 3.5rem 0 0;

        @include respond(phone) {
            font-size: 3.75rem;
        }
    }

    &--animated {
        position: relative;

        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10rem;
            background-color: inherit;
            z-index: -1;
            transition: all 0.4s;
        }

        &:hover::after,
        &:active::after {
            transform: scaleX(1.5) scaleY(1.4);
            opacity: 0;
        }
    }
}

.line {
    height: 3px;
    width: 8rem;
    margin: 0 auto 4.5rem;

    @include respond(phone) {
        width: 12rem;
    }

    &--primary {
        background-color: var(--clr-accent);
    }

    &--secondary {
        background-color: var(--clr-secondary);
    }

    &--accent {
        background-color: var(--clr-primary);
    }
}

.icon-container {
    height: 16rem;
    width: 16rem;
    background-color: var(--clr-secondary-light);
    border-radius: 50%;
    @include flexCenter;
    margin-bottom: 3.5rem;

    &--small {
        @include flexCenter;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        background: linear-gradient(
            to bottom right,
            var(--clr-accent),
            var(--clr-accent-dark)
        );
        color: var(--clr-primary);
        box-shadow: 0px 0px 12px 4px var(--clr-grey-dark-2);
        transition: all 0.3s;
        backface-visibility: hidden;

        &:hover {
            transform: translateY(-3px) scale(1.1);
            box-shadow: 0px 0px 18px 6px var(--clr-grey-dark-2);
        }
    }
}
