.btn {
    display: inline-block;
    cursor: pointer;
    padding: 1.5rem 2.25rem;
    border-radius: 10rem;
    text-align: center;
    letter-spacing: 1.1px;
    outline: none;
    font-size: 2.25rem;
    margin: 3.5rem auto 0;
    transition: transform 0.3s ease;
    backface-visibility: hidden;

    &:hover {
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(-1px);
    }

    @include respond(phone) {
        padding: 2.5rem 3.25rem;
    }

    &--gallery {
        display: block;
        background: var(--clr-secondary-light);
        border: 1px solid var(--clr-primary);
        color: #fff;
        box-shadow: 4px 4px 10px 6px var(--clr-grey-light-4);

        &:hover {
            box-shadow: 6px 6px 10px 6px var(--clr-grey-light-4);
        }
    }

    &--cta {
        display: block;
        color: #fff;
        background: transparent;
        border: 1px solid var(--clr-primary);
        margin: 3.5rem 0 0;

        @include respond(phone) {
            font-size: 3.75rem;
        }
    }
}

.line {
    height: 3px;
    width: 8rem;
    margin: 0 auto 2.75rem;

    @include respond(phone) {
        width: 12rem;
    }

    &--primary {
        background-color: var(--clr-accent);
    }

    &--secondary {
        background-color: var(--clr-secondary);
    }

    &--accent {
        background-color: var(--clr-primary);
    }
}
