@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");

:root {
    --clr-primary: hsl(44, 100%, 50%);
    --clr-primary-dark: hsl(21, 100%, 59%);

    --clr-secondary: hsl(209, 63%, 75%);
    --clr-secondary-light: hsl(209, 84%, 56%);
    --clr-secondary-dark: #5643fa;

    --clr-accent: hsl(272, 76%, 53%);
    --clr-accent-light: hsl(272, 83%, 64%);
    --clr-accent-dark: hsl(260, 100%, 44%);

    --clr-grey-light-1: hsl(0, 0%, 97%);
    --clr-grey-light-2: hsl(0, 0%, 93%);
    --clr-grey-light-3: hsl(0, 0%, 88%);
    --clr-grey-light-4: hsl(0, 0%, 82%);

    --clr-grey-dark: hsl(0, 0%, 47%);
    --clr-grey-dark-2: hsl(0, 0%, 60%);
    --clr-grey-dark-3: hsl(0, 0%, 20%);
    --clr-grey-dark-4: hsl(0, 0%, 5%);

    // --clr-gradient-1: hsl(205, 63%, 52%);
    // --clr-gradient-2: hsl(205, 63%, 52%);

    --clr-gradient-1: var(--clr-secondary-light);
    --clr-gradient-2: var(--clr-secondary-light);

    --website-width: 120rem;

    --ff-header: "Montserrat", sans-serif;
    --ff-body: "Merriweather Sans", sans-serif;
}

$counter-font-family: "Roboto Mono", sans-serif;
$gradient-primary: linear-gradient(
    to right bottom,
    var(--clr-gradient-1),
    var(--clr-gradient-2)
);
$gradient-cta: linear-gradient(to right, #684012, #5a3306);
$bxsh-dark: 2px 2px 4px 2px var(--clr-box-sh-dark);
$bxsh-dark-hover: 3px 3px 6px 3px var(--clr-box-sh-dark);
