.hero {
    padding: 2.5rem;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)),
        url("../img/cameraResizedNew.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--website-width);
    position: relative;

    &__logo {
        position: absolute;
        height: 8rem;
        width: 16rem;
        display: block;
        object-fit: cover;
        top: 3.5rem;
        left: 3.5rem;
    }

    &__heading {
        color: #fff;
        font-weight: 400;
        font-size: 5.5rem;

        span {
            color: var(--clr-primary);
        }

        &--inner {
            color: var(--clr-primary);
            font-weight: 300;
            font-size: 5.5rem;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    &--inner {
        padding: 2.5rem;
        height: 15vh;
        background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)),
            url("../img/cameraInnerResized.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: var(--website-width);
    }
}
